$primary-font: "Inter", serif;

$primary-color: #7699ae;
$secondary-color: #e7e5e5;

$received-messagebox-color: #d9d9d9;
$sent-messagebox-color: #b0eba4;
$box-shadow: 6px 6px 10px 1px #00000030;
$login-box-shadow: 0px 0px 15px 1px #00000030;

body {
	margin: 0;

	.loginsection {
		display: flex;
		height: 100%;
		width: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		justify-content: center;
		align-items: center;

		.loginmodule {
			font-family: $primary-font;
			display: flex;
			height: 50%;
			width: 50%;
			box-shadow: $login-box-shadow;
			border-radius: 4px;
			overflow: hidden;

			&__form {
				display: flex;
				align-items: center;
				text-align: center;
				flex-direction: column;
				padding: 16px;
				background-color: #fff;
				width: 70%;

				&--p {
					align-self: baseline;
					margin: 0;
					margin-top: 10%;
					transform: translate(20px, 9px);
					background-color: #fff;
					padding: 0 4px;
				}

				&--input {
					width: 90%;
					padding: 12px 16px;
					font-size: large;
					outline: none;
					border: 3px solid #00000030;
					border-radius: 4px;
					transition: 0.2s all;
					caret-color: $primary-color;

					&:focus,
					&:hover {
						border: 3px solid $primary-color;
					}
				}

				&--button {
					display: flex;
					width: 50%;
					border-radius: 4px;
					background-color: $primary-color;
					color: #fff;
					justify-content: center;
					padding: 8px 0;
					margin-top: 5%;
					cursor: pointer;
					transition: 0.2s all;

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			&__lock {
				background-color: #7699ae;
				width: 30%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	main {
		display: flex;
		height: 100%;
		width: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		.usersection {
			font-family: $primary-font;
			background-color: $secondary-color;
			border: 2px solid black;
			width: 30%;

			&__h1 {
				text-align: center;
			}

			&__userlist {
				padding: 16px;

				&--user {
					list-style: none;
					padding: 16px 8px;
					font-weight: 700;
					border-radius: 4px;
					margin-bottom: 4px;

					&:hover {
						background-color: #00000030;
					}
				}
			}
		}

		.chatsection {
			background-color: $primary-color;
			border: 2px solid black;
			width: 70%;

			&__chatfield {
				border-bottom: 2px solid black;
				height: 85%;
				display: flex;
				flex-direction: column-reverse;
				max-height: 90%;
				overflow-y: auto;

				.received-message {
					font-family: $primary-font;
					display: flex;
					flex-direction: row;
					&__box {
						background-color: $received-messagebox-color;
						box-shadow: $box-shadow;
						width: fit-content;
						border-radius: 2px;
						margin: 1rem;

						&--author {
							padding: 0.5rem 0.5rem 0.25rem 0.5rem;
							padding-bottom: 0.25rem;
							color: #158432;
							font-weight: 700;
						}

						&--text {
							padding: 0.25rem 0.5rem 0.5rem 0.5rem;
						}
					}
				}

				.sent-message {
					font-family: $primary-font;
					display: flex;
					flex-direction: row-reverse;
					&__box {
						background-color: $sent-messagebox-color;
						box-shadow: $box-shadow;
						width: fit-content;
						margin: 1rem;
						border-radius: 2px;

						&--author {
							padding: 0.5rem 0.5rem 0.25rem 0.5rem;
							padding-bottom: 0.25rem;
							color: #0421d3;
							font-weight: 700;
						}

						&--text {
							padding: 0.25rem 0.5rem 0.5rem 0.5rem;
						}
					}
				}
			}

			&__textfield {
				display: flex;
				border-top: 2px solid black;
				height: 15%;
				align-items: center;
				justify-content: center;

				&--textbox {
					background-color: $secondary-color;
					font-family: $primary-font;
					height: 3rem;
					width: 70%;
					margin-right: 0.5rem;
					word-wrap: break-word;
					word-break: break-all;
					resize: none;
					border-radius: 2px;
					padding: 16px;
					border: 0;
					box-shadow: $box-shadow;

					&::-webkit-scrollbar {
						width: 10px;
					}

					&::-webkit-scrollbar-track {
						background: #f1f1f1;
					}

					&::-webkit-scrollbar-thumb {
						background: #888;
					}

					&::-webkit-scrollbar-thumb:hover {
						background: $sent-messagebox-color;
					}

					&:focus {
						outline: 0;
					}
				}

				&--sendbtn {
					background-color: $sent-messagebox-color;
					border: 0;
					height: 3rem;
					width: 3rem;
					border-radius: 50%;
					margin-left: 0.5rem;
					box-shadow: $box-shadow;
					display: flex;
					justify-content: center;
					align-items: stretch;
					padding: 8px;
				}
			}
		}
	}
}
