body {
  margin: 0;
}
body .loginsection {
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
}
body .loginsection .loginmodule {
  font-family: "Inter", serif;
  display: flex;
  height: 50%;
  width: 50%;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1882352941);
  border-radius: 4px;
  overflow: hidden;
}
body .loginsection .loginmodule__form {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 16px;
  background-color: #fff;
  width: 70%;
}
body .loginsection .loginmodule__form--p {
  align-self: baseline;
  margin: 0;
  margin-top: 10%;
  transform: translate(20px, 9px);
  background-color: #fff;
  padding: 0 4px;
}
body .loginsection .loginmodule__form--input {
  width: 90%;
  padding: 12px 16px;
  font-size: large;
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.1882352941);
  border-radius: 4px;
  transition: 0.2s all;
  caret-color: #7699ae;
}
body .loginsection .loginmodule__form--input:focus, body .loginsection .loginmodule__form--input:hover {
  border: 3px solid #7699ae;
}
body .loginsection .loginmodule__form--button {
  display: flex;
  width: 50%;
  border-radius: 4px;
  background-color: #7699ae;
  color: #fff;
  justify-content: center;
  padding: 8px 0;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.2s all;
}
body .loginsection .loginmodule__form--button:hover {
  transform: scale(1.1);
}
body .loginsection .loginmodule__lock {
  background-color: #7699ae;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
}
body main .usersection {
  font-family: "Inter", serif;
  background-color: #e7e5e5;
  border: 2px solid black;
  width: 30%;
}
body main .usersection__h1 {
  text-align: center;
}
body main .usersection__userlist {
  padding: 16px;
}
body main .usersection__userlist--user {
  list-style: none;
  padding: 16px 8px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 0 0 2px 0 solid #7699ae;
}
body main .usersection__userlist--user:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1882352941);
}
body main .chatsection {
  background-color: #7699ae;
  border: 2px solid black;
  width: 70%;
}
body main .chatsection__chatfield {
  border-bottom: 2px solid black;
  height: 85%;
  display: flex;
  flex-direction: column-reverse;
  max-height: 90%;
  overflow-y: auto;
}
body main .chatsection__chatfield .received-message {
  font-family: "Inter", serif;
  display: flex;
  flex-direction: row;
}
body main .chatsection__chatfield .received-message__box {
  background-color: #d9d9d9;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1882352941);
  width: fit-content;
  border-radius: 2px;
  margin: 1rem;
}
body main .chatsection__chatfield .received-message__box--author {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  padding-bottom: 0.25rem;
  color: #158432;
  font-weight: 700;
}
body main .chatsection__chatfield .received-message__box--text {
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}
body main .chatsection__chatfield .sent-message {
  font-family: "Inter", serif;
  display: flex;
  flex-direction: row-reverse;
}
body main .chatsection__chatfield .sent-message__box {
  background-color: #b0eba4;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1882352941);
  width: fit-content;
  margin: 1rem;
  border-radius: 2px;
}
body main .chatsection__chatfield .sent-message__box--author {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  padding-bottom: 0.25rem;
  color: #0421d3;
  font-weight: 700;
}
body main .chatsection__chatfield .sent-message__box--text {
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}
body main .chatsection__textfield {
  display: flex;
  border-top: 2px solid black;
  height: 15%;
  align-items: center;
  justify-content: center;
}
body main .chatsection__textfield--textbox {
  background-color: #e7e5e5;
  font-family: "Inter", serif;
  height: 3rem;
  width: 70%;
  margin-right: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  border-radius: 2px;
  padding: 16px;
  border: 0;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1882352941);
}
body main .chatsection__textfield--textbox::-webkit-scrollbar {
  width: 10px;
}
body main .chatsection__textfield--textbox::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body main .chatsection__textfield--textbox::-webkit-scrollbar-thumb {
  background: #888;
}
body main .chatsection__textfield--textbox::-webkit-scrollbar-thumb:hover {
  background: #b0eba4;
}
body main .chatsection__textfield--textbox:focus {
  outline: 0;
}
body main .chatsection__textfield--sendbtn {
  background-color: #b0eba4;
  border: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 8px;
}

/*# sourceMappingURL=style.css.map */
